body {
    display : flex;
    flex-direction:column;
    align-items:center;
    color:white;
    background-color:grey;

}
button{
    width:100px;
}


#container{
    display:flex;
    flex-wrap: wrap;
    /* height : 200px; */
    width : 500px;
    align-items : center;
}

.square{
    height: 16px;
    width : 16px;
    padding:15px;
    background-color : black;
}